<h1>Naga Sankara Manoj Hota/87750/Web Security Fundamentals helped me in learning the Security Features in the Internet different layers involved in it,Types of servers and making LAN connections between two systems or even the persons residing in two coutries  </h1>
